{% extends "base-alt.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    {% block content %}

    <section class="hero">
      <h1 class="hero-title">{{title}}</h1>
      <p class="hero-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
    </section>

    <div class="search-container">
      <div class="search-input">Search article, news or movie...</div>
      <button class="search-button">Search</button>
    </div>

    <main class="content-grid" space="40">
      <div class="grid-layout">
        <div class="image-column">
          <div class="blog-images">
            <img src="{{ url_for('static', filename='images/good-bad-ugly.png') }}" alt="Blog post image" class="blog-image">
            <img src="{{ url_for('static', filename='images/anchorman.png') }}" alt="Blog post image" class="blog-image">
            <img src="{{ url_for('static', filename='images/ebert1.png') }}" alt="Blog post image" class="blog-image">
            <img src="{{ url_for('static', filename='images/nachos.png') }}" alt="Blog post image" class="blog-image">
            <img src="{{ url_for('static', filename='images/commander.png') }}" alt="Blog post image" class="blog-image">
            <img src="{{ url_for('static', filename='images/assistant.png') }}" alt="Blog post image" class="blog-image">
          </div>
        </div>

        <div class="content-column">
          <div class="blog-posts">
            <article class="blog-post">
              <h2 class="post-title">Best Movies for Western Lovers</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim</p>
              <div class="post-author-info">
                <img src="{{ url_for('static', filename='images/writer.png') }}" alt="Wade Warren" class="post-author-image">
                <p class="author-name">Wade Warren</p>
                <span class="divider-line"></span>
                <div class="post-date">November 21 2024</div>
              </div>
            </article>

            <article class="blog-post">
              <h2 class="post-title">10 Comedy Movies To Watch This Month</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim</p>
              <div class="post-author-info">
                <img src="{{ url_for('static', filename='images/writer2.png') }}" alt="Robert Fox" class="post-author-image">
                <p class="author-name">Robert Fox</p>
                <span class="divider-line"></span>
                <div class="post-date">November 21 2024</div>
              </div>
            </article>

            <article class="blog-post">
              <h2 class="post-title">Guide To Becoming A Movie Critic</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim</p>
              <div class="post-author-info">
                <img src="{{ url_for('static', filename='images/writer3.png') }}" alt="Dianne Russell" class="post-author-image">
                <p class="author-name">Dianne Russell</p>
                <span class="divider-line"></span>
                <div class="post-date">November 21 2024</div>
              </div>
            </article>

            <article class="blog-post">
              <h2 class="post-title">Best Movie Snacks for Halloween</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim</p>
              <div class="post-author-info">
                <img src="{{ url_for('static', filename='images/writer4.png') }}" alt="Leslie Alexander" class="post-author-image">
                <p class="author-name">Leslie Alexander</p>
                <span class="divider-line"></span>
                <div class="post-date">November 21 2024</div>
              </div>
            </article>

            <article class="blog-post">
              <h2 class="post-title">Interview with a Vampire</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim</p>
              <div class="post-author-info">
                <img src="{{ url_for('static', filename='images/writer5.png') }}" alt="Courtney Henry" class="post-author-image">
                <p class="author-name">Courtney Henry</p>
                <span class="divider-line"></span>
                <div class="post-date">November 21 2024</div>
              </div>
            </article>

            <article class="blog-post">
              <h2 class="post-title">We're Hiring a Communications Assistant!</h2>
              <p class="post-description">Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim</p>
              <div class="post-author-info">
                <img src="{{ url_for('static', filename='images/writer6.png') }}" alt="Albert Flores" class="post-author-image">
                <p class="author-name">Albert Flores</p>
                <span class="divider-line"></span>
                <div class="post-date">November 21 2024</div>
              </div>
            </article>
          </div>
        </div>

        <div class="sidebar-column">
          <div class="sidebar-content">
            <div class="other-movies-header">
              <h2 class="sidebar-title">Other Movies</h2>
            </div>
            <div class="movie-grid">
              <div class="movie-images">
                <img src="{{ url_for('static', filename='images/ratatouille.png') }}" alt="Movie thumbnail" class="movie-thumbnail">
                <img src="{{ url_for('static', filename='images/singing.png') }}" alt="Movie thumbnail" class="movie-thumbnail">
                <img src="{{ url_for('static', filename='images/goodfellas.png') }}" alt="Movie thumbnail" class="movie-thumbnail">
              </div>
              <div class="movie-details-sidebar">
                <div class="movie-item">
                    <h3 class="movie-title-sidebar">Ratatouille</h3>
                    <p class="movie-author">By Andreas Paula</p>
                </div>
                <div class="movie-item-middle">
                    <h3 class="movie-title-sidebar">Singin' In The Rain</h3>
                    <p class="movie-author">By Andreas Paula</p>
                </div>
                <div class="movie-item-bottom">
                    <h3 class="movie-title-sidebar">GoodFellas</h3>
                    <p class="movie-author">By Andreas Paula</p>
                </div>
              </div>
            </div>

            <div class="promo-banner">
              <img src="{{ url_for('static', filename='images/ad.png') }}" alt="Promotional banner" class="promo-image">
            </div>
          </div>
        </div>
      </div>
    </main>

    <nav class="pagination">
      <a href="#" class="page-number active">1</a>
      <a href="#" class="page-number">2</a>
      <a href="#" class="page-number">3</a>
      <a href="#" class="page-number">4</a>
      <a href="#" class="page-number">5</a>
      <a href="#" class="page-dots">...</a>
      <a href="#" class="page-number">></a>
    </nav>

    {% endblock %}
