{% extends "base-alt.html" %}
{% import "bootstrap/wtf.html" as wtf %}

    {% block content %}
      <section class="content-container">
        <div class="movie-header">
          <div class="movie-title-section">
            <div class="title-container">
              <div class="title-wrapper">
                <h1 class="movie-title">Star Wars</h1>
                <div class="author-section">
                  <div class="author-container">
                    <img
                      src="{{ url_for('static', filename='images/author.png') }}"
                      alt="Author avatar"
                      class="author-avatar"
                    />
                    <div class="movie-author-info">
                      <p class="author-name">John Smith</p>
                      <p class="publish-date">March 15 2025</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="runtime-container">
                <p class="runtime-label">RUN TIME</p>
                <p class="runtime-value">122 Minutes</p>
              </div>
            </div>

            <div class="genre-container">
              <img
                src="{{ url_for('static', filename='images/camera.png') }}"
                alt="Genre icon"
                class="genre-icon"
              />
              <span>Sci-Fi</p>
            </div>
          </div>
          <div class="action-buttons">
            <div class="print-button">
              <img
                src="{{ url_for('static', filename='images/print.png') }}"
                alt="Print icon"
                class="print-icon"
              />
              <p class="print-label">PRINT</p>
            </div>
            <div class="share-button">
              <img
                src="{{ url_for('static', filename='images/share.png') }}"
                alt="Share icon"
                class="share-icon"
              />
              <p class="share-label">SHARE</p>
            </div>
          </div>
        </div>

        <section class="movie-info-section" data-el="div-1">
          <div class="info-columns">
            <div class="movie-poster-column">
              <img
                src="{{ url_for('static', filename='images/big-star-wars.png') }}"
                alt="Movie poster"
                class="movie-poster"
              />
            </div>
            <div class="movie-details-column">
              <div class="details-card">
                <div class="details-header">
                  <div class="details-title-container">
                    <h2 class="details-title">Movie Information</h2>
                    <p class="release-date-label">Release Date</p>
                  </div>
                  <p class="release-date-value">1977</p>
                </div>
                <div class="movie-details-divider"></div> 
                <div class="director-row">
                  <p class="director-label">Director</p>
                  <p class="director-value">George Lucas</p>
                </div>
                <div class="movie-details-divider"></div>
                <div class="box-office-row">
                  <p class="box-office-label">Box Office Gross</p>
                  <p class="box-office-value">$775,398,507</p>
                </div>
                <div class="movie-details-divider"></div>
                <div class="budget-row">
                    <p class="budget-label">Budget</p>
                    <p class="budget-value">$11,000,000</p>
                </div>
                <div class="movie-details-divider"></div>
                <div class="rating-row">
                  <p class="rating-label">Rating</p>
                  <p class="rating-value">PG</p>
                </div>
                <div class="movie-details-divider"></div>
                <p class="details-note">
                  adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>
        </section>

        <p class="movie-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <section class="review-section" data-el="div-2">
          <div class="review-columns">
            <div class="review-content">
              <h2 class="review-title">Review</h2>
              <h3 class="pros-title">Pros</h3>
              <div class="pros-item">
                <span class="pros-icon">+</span>
                <p class="pros-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <div class="pros-item">
                <span class="pros-icon">+</span>
                <p class="pros-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <div class="pros-item">
                <span class="pros-icon">+</span>
                <p class="pros-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <div class="pros-item">
                <span class="pros-icon">+</span>
                <p class="pros-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <div class="pros-item">
                <span class="pros-icon">+</span>
                <p class="pros-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <h3 class="cons-title">Cons</h3>
              <div class="cons-item">
                <span class="cons-icon">-</span>
                <p class="cons-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <div class="cons-item">
                <span class="cons-icon">-</span>
                <p class="cons-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
              <div class="cons-item">
                <span class="cons-icon">-</span>
                <p class="cons-text">Lorem ipsum dolor sit amet</p>
              </div>
              <div class="divider"></div>
            </div>
                
            <div class="other-movies-column">
              <div class="other-movies-container">
                <h3 class="other-movies-title">Other Movies</h3>
                <div class="movie-cards-row">
                  <div class="movie-cards-images">
                    <img
                    src="{{ url_for('static', filename='images/ratatouille.png') }}"
                    alt="Ratatouille"
                    class="movie-card-image-top"
                  />
                    <img
                      src="{{ url_for('static', filename='images/singing.png') }}"
                      alt="Singin' In The Rain"
                      class="movie-card-image-middle"
                    />
                    <img
                      src="{{ url_for('static', filename='images/goodfellas.png') }}"
                      alt="GoodFellas"
                      class="movie-card-image-bottom"
                    />
                  </div>
                  <div class="movie-cards-info">
                    <h4 class="movie-card-title">Ratatouille</h4>
                    <p class="movie-card-author">By Andreas Paula</p>
                    <h4 class="movie-card-title-middle">Singin' In The Rain</h4>
                    <p class="movie-card-author">By Andreas Paula</p>
                    <h4 class="movie-card-title-bottom">GoodFellas</h4>
                    <p class="movie-card-author">By Andreas Paula</p>
                  </div>
                </div>
                <div class="promo-card">
                  <img
                  src="{{ url_for('static', filename='images/ad.png') }}"
                  class="ad"
                  alt="Ad"
                />
                </div>
              </div>
            </div>
          </div>
        </section>

        <h2 class="best-moments-title">Top 3 Best Moments</h2>

        <div class="moment-header">
          <div class="moment-number"></div>
          <h3 class="moment-title">Lorem ipsum dolor sit amet</h3>
        </div>

        <p class="moment-description">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
          sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
          tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem.
        </p>

        <img
          src="{{ url_for('static', filename='images/star-wars-scene.png') }}"
          alt="Movie moment"
          class="moment-image"
        />

        <p class="moment-description">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
          sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
          tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem.
        </p>

        <div class="divider"></div>

        <div class="moment-header">
          <div class="moment-number"></div>
          <h3 class="moment-title">2. Lorem ipsum dolor sit amet</h3>
        </div>

        <p class="moment-description">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
          sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
          tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem.
        </p>

        <div class="divider"></div>

        <div class="moment-header">
          <div class="moment-number"></div>
          <h3 class="moment-title">3. Lorem ipsum dolor sit amet</h3>
        </div>

        <p class="moment-description">
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
          fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
          sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
          sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
          tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem.
        </p>

        <div class="divider"></div>
      </section>

    {% endblock %}