{% extends "base-alt.html" %}

    {% block content %}

    <section class="hero">
      <h1 class="hero-title">{{title}}</h1>
    </section>

      <div class="contact-container">
        <div class="about-us-image-column">
          <img src="{{ url_for('static', filename='images/aboutus.png') }}" class="about-us-image" alt="Contact image">
        </div>
        <div class="contact-form-column">
          <div class="about-us-description">Welcome to Movieland, your ultimate online hub for everything cinema! At Movieland, we celebrate the magic of storytelling by diving deep into the world of movies, from timeless classics to the latest blockbusters. Explore reviews, trailers, and curated lists to find your next favorite flick. Whether you're a casual viewer or a passionate cinephile, Movieland is here to spark your imagination and enhance your movie-watching experience. Lights, camera, action—your cinematic adventure starts here!</div>
        </div>
      </div>

      {% endblock %}
