<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Movieland - The Best Movies, Period</title>
      {% else %}
      <title>Movieland - The Best Movies, Period</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}" />
      <link
        href="https://fonts.googleapis.com/css2?family=Lobster&family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet"
      />
    </head>
    <body>
        <div class="page">
            <header class="site-header">
                <h1 class="logo">Movieland<span class="logo-dot">.</span></h1>
                  <nav class="main-nav">
                    <a href="{{ url_for('main.index') }}" class="nav-link">Home</a>
                    <a href="{{ url_for('main.index') }}" class="nav-link">Movies</a>
                    <a href="{{ url_for('main.list') }}" class="nav-link">Blog</a>
                    <a href="{{ url_for('main.contact') }}" class="nav-link">Contact</a>
                    <a href="{{ url_for('main.about') }}" class="nav-link">About Us</a>
                  </nav>
                  <div class="social-header">
                    <img src="{{ url_for('static', filename='images/Social.svg') }}" />
                  </div>
              </header>
              <div class="divider"></div>

        {% block content %}{% endblock %}
    
          <section class="newsletter">
            <img
              src="{{ url_for('static', filename='images/newsletter-bg.png') }}"
              class="newsletter-bg"
              alt="Newsletter background"
            />
            <div class="newsletter-content">
              <h2 class="newsletter-title">Movie magic to your inbox</h2>
              <p class="newsletter-description">
                Love movies? Sign up for our newsletter and never miss the latest hits or hidden gems!
              </p>
              <div>
                <form class="newsletter-form" method="post">
                  {{form.hidden_tag()}}
                  <div class="form-group"> 
                    {{form.email(class_="form-input-subscribe")}}
                  </div>
                  <div class="form-group"> 
                    {{form.submit(class_='subscribe-button')}}
                  </div>
                </form>
              </div>
            </div>
          </section>

          <section class="recommendations">
            <div class="recommendations-header">
              <div class="recommendations-title">
                <h2>You may like these movies too</h2>
              </div>
            </div>
    
            <div class="movie-grid">
              {% for bottom_movie in bottom_movies_1 %}
              <a href="/movie/{{bottom_movie.id}}" class="movie-link"><article class="movie-card movie-card-background">
                <img
                  src="{{ url_for('static', filename=bottom_movie.image_url) }}"
                  class="movie-poster"
                  alt={{bottom_movie.title}}
                />
                <h3 class="movie-name">{{bottom_movie.title}}</h3>
    
                <div class="movie-meta-info">
                  <div class="duration">
                    <img
                    src="{{ url_for('static', filename='images/clock.png') }}"
                    class="duration-icon"
                    alt="Clock icon"
                  />
                    <span >{{bottom_movie.runtime}} Minutes</span>
                  </div>
                  <div class="genre">
                    <img
                      src="{{ url_for('static', filename='images/camera.png') }}"
                      class="genre-icon"
                      alt="Genre icon"
                    />
                    <span>{{bottom_movie.genre}}</span>
                  </div>
                </div>
              </article></a>
              {% endfor %}
            </div>
          </section>
    
          <footer class="site-footer">
            <div class="footer-content">
              <div class="footer-branding">
                <h2 class="footer-logo">Movieland<span>.</span></h2>
                <p class="footer-tagline">
                    The Best Movies, Period
                </p>
              </div>
              <nav class="footer-nav">
                  <a href="{{ url_for('main.index') }}" class="footer-link">Movies</a>
                  <a href="{{ url_for('main.list') }}" class="footer-link">Blog</a>
                  <a href="{{ url_for('main.contact') }}" class="footer-link">Contact</a>
                  <a href="{{ url_for('main.about') }}" class="footer-link">About Us</a>
              </nav>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="1340" height="2" viewBox="0 0 1440 2" fill="none">
                <path d="M0 1H1440" stroke="black" stroke-opacity="0.1"/>
              </svg>
              <img src="{{ url_for('static', filename='images/Social.svg') }}" class="footer-social"/>
          </footer>
        </div>
    </body>
</html>