{% extends "base-alt.html" %}

    {% block content %}

      <section class="content-container">
        <article class="blog-post">
          <h1 class="blog-post-title">{{post.title}}</h1>

          <div class="blog-post-author-info">
            <div class="author-profile">
              <img
                src="{{ url_for('static', filename=post.author.avatar_url) }}"
                alt="Author profile picture"
                class="author-image"
              />
              <span class="author-name">{{post.author.name}}</span>
            </div>
            <div class="post-date">
              <span class="date-text">{{post.date_created.strftime('%B %-d, %Y')}}</span>
            </div>
          </div>

          <p class="post-intro">
           {{post.stub}}
          </p>

          <img
            src="{{ url_for('static', filename=post.main_image_url) }}"
            alt="Movie critic at work"
            class="post-image"
          />


          {{post.body|safe}}
        </section>

    {% endblock %}