{% extends "base-alt.html" %}

    {% block content %}

    <section class="hero">
      <h1 class="hero-title">{{title}}</h1>
      <p class="hero-description">Immerse yourself in a cinematic journey with our curated list of movie blog posts! From heart-pounding action thrillers to tear-jerking dramas, our collection dives deep into reviews, behind-the-scenes trivia, and thematic analyses. Whether you're hunting for hidden gems or revisiting iconic classics, these posts are a treasure trove for every movie enthusiast. Uncover the magic of storytelling, dissect legendary performances, and explore how films shape our culture. Let’s roll the reel and ignite your passion for all things cinema!</p>
    </section>

    <div class="search-container">
      <div>
        <form class="" method="get" action="{{url_for('main.search')}}">
          <div class="form-row">
            <div class="form-group"> 
              {{g.search_form.q(size=20, class='form-input-search', placeholder=g.search_form.q.label.text)}}
            </div>
            <div>
              <button class="search-button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <section class="content-grid">
      <div class="blog-columns">
        <div class="blog-content">
          {% for post in posts %}
          <div class="grid-layout">
            <div class="image-column">
              <div class="blog-images">
                <a href='/post/{{post.id}}'>
                  <img src="{{ url_for('static', filename=post.image_url) }}" alt="Blog post image" class="blog-image">
                </a>
              </div>
            </div>
            <div class="content-column">
              <div class="blog-posts">
                <article class="blog-post">
                  <h2 class="post-title"><a href='/post/{{post.id}}' class="post-link">{{post.title}}</a></h2>
                  <p class="post-description">{{post.stub}}</p>
                  <div class="post-author-info">
                    <img src="{{ url_for('static', filename=post.author.avatar_url) }}" alt={{post.author.name}} class="post-author-image">
                    <p class="author-name">{{post.author.name}}</p>
                    <span class="divider-line"></span>
                    <div class="post-date">{{post.date_created.strftime('%B %-d, %Y')}}</div>
                  </div>
                </article>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="sidebar-column">
          <div class="sidebar-content">
            <div class="other-movies-header">
              <h2 class="sidebar-title">Other Movies</h2>
            </div>
            <div class="movie-grid">
              <div class="movie-images">
                {% for other_movie in other_movies %}
                <a href="/movie/{{other_movie.id}}" class="movie-link"><img
                  src="{{ url_for('static', filename=other_movie.image_url) }}"
                  alt={{other_movie.title}}
                  class="movie-thumbnail"
                /></a>
              {% endfor %}
              </div>
              <div class="movie-details-sidebar">
                {% for other_movie in other_movies %}
                <div class="movie-item">
                  <a href="/movie/{{other_movie.id}}" class="movie-link"><h3 class="movie-title-sidebar">{{other_movie.title}}</h3></a>
                <p class="movie-author">By {{other_movie.author.name}}</p>
              </div>
              {% endfor %}
            </div>
              </div>
            </div>
  
            <div class="promo-banner">
              <img src="{{ url_for('static', filename='images/ad.png') }}" alt="Promotional banner" class="promo-image">
            </div>
          </div>
      </div>

      </section>

    <nav>
      <ul class="pagination justify-content-center">
          {% if pagination.has_prev %}
          <li class="page-item">
              <a class="page-link" href="/blog?page={{ pagination.prev_num }}">&laquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}

          {% for page_num in pagination.iter_pages() %}
          {% if page_num %}
          {% if page_num != pagination.page %}
          <li class="page-item"><a class="page-link" href="/blog?page={{ page_num }}">{{ page_num }}</a></li>
          {% else %}
          <li class="page-item active" aria-current="page">
              <span class="page-link">{{ page_num }}</span>
          </li>
          {% endif %}
          {% else %}
          <li class="page-item disabled"><span class="page-link">...</span></li>
          {% endif %}
          {% endfor %}

          {% if pagination.has_next %}
          <li class="page-item">
              <a class="page-link" href="/blog?page={{ pagination.next_num }}">&raquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
      </ul>
  </nav>
    {% endblock %}
