  {% extends "base-home.html" %}

      {% block content %}

      <section class="hero-section">
        <div class="hero-content">
          <div class="hero-left">
            <div class="hero-left-content">
              <div class="hot-tag">
                <span class="emoji">🔥</span>
                <span class="hot-label">Hot Movie</span>
              </div>
              <h2 class="movie-title">The Hangover</h2>
              <p class="movie-description">
                Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqut enim
                ad minim
              </p>
              <div class="movie-meta">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >100 Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>Comedy</span>
                </div>
              </div>
              <div class="movie-footer">
                <div class="author">
                  <img
                    src="{{ url_for('static', filename='images/author.png') }}"
                    class="author-image"
                    alt="Author"
                  />
                  <div class="author-info">
                    <h3 class="author-name">John Smith</h3>
                    <p class="publish-date">March 15 2025</p>
                  </div>
                </div>
                <a href="#" class="cta-button">View Movies</a>
              </div>
            </div>
          </div>
          <div class="hero-right">
            <div class="hero-image-container">
              <img
                src="{{ url_for('static', filename='images/hangover.png') }}"
                class="hero-background"
                alt="Movie background"
              />
              <img
                src="{{ url_for('static', filename='images/handpicked-icon.png') }}"
                class="play-button"
                alt="Play button"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="categories-section">
        <div class="section-header">
          <h2 class="section-title-main">Categories</h2>
          <a href="#" class="view-all">View All Categories</a>
        </div>
        <img
          src="{{ url_for('static', filename='images/categories.png') }}"
          class="categories-image"
          alt="Categories"
        />
      </section>

      <section class="best-movies">
        <h2 class="section-title-main centered">The best movies, period</h2>
        <p class="section-description centered">
          Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqut enim ad minim
        </p>

        <div class="movie-grid">
          {% for middle_movie in middle_movies_1 %}
          <a href="/movie/{{middle_movie.id}}" class="movie-link">
            <article class="movie-card movie-card-background">
              <img
                src="{{ url_for('static', filename=middle_movie.image_url) }}"
                class="movie-poster"
                alt={{middle_movie.title}}
              />
              <h3 class="movie-name">{{middle_movie.title}}</h3>
              <div class="movie-details">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{middle_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{middle_movie.genre}}</span>
                </div>
              </div>
            </article>
          </a>
          {% endfor %}
        </div>

        <div class="movie-grid">
          {% for middle_movie in middle_movies_2 %}
          <a href="/movie/{{middle_movie.id}}" class="movie-link">
            <article class="movie-card movie-card-background">
              <img
                src="{{ url_for('static', filename=middle_movie.image_url) }}"
                class="movie-poster"
                alt={{middle_movie.title}}
              />
              <h3 class="movie-name">{{middle_movie.title}}</h3>
              <div class="movie-details">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{middle_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{middle_movie.genre}}</span>
                </div>
              </div>
            </article>
            </a>
          {% endfor %}
          <article class="movie-card">
            <img
              src="{{ url_for('static', filename='images/ad.png') }}"
              class="ad"
              alt="Ad"
            />
          </article>
        </div>

        <div class="movie-grid">
          {% for middle_movie in middle_movies_3 %}
          <a href="/movie/{{middle_movie.id}}" class="movie-link">
            <article class="movie-card movie-card-background">
              <img
                src="{{ url_for('static', filename=middle_movie.image_url) }}"
                class="movie-poster"
                alt={{middle_movie.title}}
              />
              <h3 class="movie-name">{{middle_movie.title}}</h3>
              <div class="movie-details">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{middle_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{middle_movie.genre}}</span>
                </div>
              </div>
            </article>
          </a>
          {% endfor %}
        </div>
      </section>

      <section class="cta-section">
        <div class="cta-content">
          <div class="cta-text">
            <h2 class="cta-title">
              Find your next favorite<br />
              movie, just a click away
            </h2>
            <p class="cta-description">
              Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad
              minim
            </p>
            <a href="#" class="cta-button">Learn More</a>
          </div>
          <div class="cta-image">
            <img
              src="{{ url_for('static', filename='images/family.png') }}"
              alt="Movie selection"
            />
          </div>
        </div>
      </section>

      <section class="instagram-section">
        <div class="highlight">
          <h2 class="section-title-main centered">
            Check out @movieland on Instagram
          </h2>
          <p class="section-description centered">
            Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqut enim ad minim
          </p>
  
          <div class="instagram-profiles">
            <div class="profile-card">
              <div class="profile-icon">
                  <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
  
            <div class="profile-card">
              <div class="profile-icon">
                <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
  
            <div class="profile-card">
              <div class="profile-icon">
                <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
  
            <div class="profile-card">
              <div class="profile-icon">
                <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
          </div>
  
          <div class="instagram-grid">
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/wish.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/lego.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/butler.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/harley.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
          </div>
  
          <div class="instagram-comments">
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong> <span>Make a wish!</span>
              </p>
              <p class="comment-date">September 19</p>
            </div>
  
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong>
                <span
                  >Everything is awesome. Everything is cool when you're part of
                  the team.</span
                >
              </p>
              <p class="comment-date">September 19</p>
            </div>
  
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong>
                <span>What's your favorite Gerard Butler movie?</span>
              </p>
              <p class="comment-date">September 19</p>
            </div>
  
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong>
                <span>A messy, colorful good time.</span>
              </p>
              <p class="comment-date">September 19</p>
            </div>
          </div>
  
          <a href="#" class="cta-button centered-button">Visit Our Instagram</a>
        </div>

      </section>

      {% endblock %}