  {% extends "base-home.html" %}

      {% block content %}

      <section class="hero-section">
        <div class="hero-content">
          <div class="hero-left">
            <div class="hero-left-content">
              <div class="hot-tag">
                <span class="emoji">🔥</span>
                <span class="hot-label">Hot Movie</span>
              </div>
              <h2 class="movie-title">{{top_movie.title}}</h2>
              <p class="movie-description">
                {{top_movie.description}}
              </p>
              <div class="movie-meta">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{top_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{top_movie.genre}}</span>
                </div>
              </div>
              <div class="movie-footer">
                <div class="author">
                  <img
                    src="{{ url_for('static', filename=top_movie.author.avatar_url) }}"
                    class="author-image"
                    alt="Author"
                  />
                  <div class="author-info">
                    <h3 class="author-name">{{top_movie.author.name}}</h3>
                    <p class="publish-date">{{top_movie.post_date.strftime('%B %-d, %Y')}}</p>
                  </div>
                </div>
                 <a href="/movie/{{top_movie.id}}" class="btn btn-lg btn-dark button-padding" role="button">View Movie</a>
              </div>
            </div>
          </div>
          <div class="hero-right">
            <div class="hero-image-container">
              <img
                src="{{ url_for('static', filename=top_movie.image_url) }}"
                class="hero-background"
                alt="Movie background"
              />
              <img
                src="{{ url_for('static', filename='images/handpicked-icon.png') }}"
                class="play-button"
                alt="Play button"
              />
            </div>
          </div>
        </div>
      </section>

      <section class="categories-section">
        <div class="section-header">
          <h2 class="section-title-main">Categories</h2>
           <a href="/genre/All" role="button" class="btn btn-light btn-lg">View All Categories</a>
        </div>
        <div class="category-image-container">
          <div class="category-image-align">
            <a href="/genre/Romance">
              <img
              src="{{ url_for('static', filename='images/romance.png') }}"
              class="category-image" 
              alt="Romance"
            />
            </a>
          </div>
          <div class="category-image-align">
            <a href="/genre/Action">
              <img
              src="{{ url_for('static', filename='images/action.png') }}"
              class="category-image" 
              alt="Action"
            />
            </a>
          </div>
          <div class="category-image-align">
            <a href="/genre/Fantasy">
              <img
              src="{{ url_for('static', filename='images/fantasy.png') }}"
              class="category-image" 
              alt="Fantasy"
            />
            </a>
          </div>
          <div class="category-image-align">
            <a href="/genre/Horror">
              <img
              src="{{ url_for('static', filename='images/horror.png') }}"
              class="category-image" 
              alt="Horror"
            />
            </a>
          </div>
          <div class="category-image-align">
            <a href="/genre/Sci-Fi">
              <img
              src="{{ url_for('static', filename='images/scifi.png') }}"
              class="category-image" 
              alt="Sci-Fi"
            />
            </a>
          </div>
          <div class="category-image-align">
            <a href="/genre/Drama">
              <img
              src="{{ url_for('static', filename='images/drama.png') }}"
              class="category-image" 
              alt="Drama"
            />
            </a>

          </div>
        </div>
      </section>

      <section class="best-movies">
        <h2 class="section-title-main centered">The best movies, period</h2>
        <p class="section-description centered">
          Discover your next cinematic obsession! Search a vast library of blockbusters, indie gems, timeless classics, and hidden treasures.
           Whether you're in the mood for heart-pounding action, 
          heartwarming tales, or spine-tingling thrills, find the perfect movie to light up your screen.
        </p>

        <div class="movie-grid">
          {% for middle_movie in middle_movies_1 %}
          <a href="/movie/{{middle_movie.id}}" class="movie-link">
            <article class="movie-card movie-card-background">
              <img
                src="{{ url_for('static', filename=middle_movie.image_url) }}"
                class="movie-poster"
                alt={{middle_movie.title}}
              />
              <h3 class="movie-name">{{middle_movie.title}}</h3>
              <div class="movie-details">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{middle_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{middle_movie.genre}}</span>
                </div>
              </div>
            </article>
          </a>
          {% endfor %}
        </div>

        <div class="movie-grid">
          {% for middle_movie in middle_movies_2 %}
          <a href="/movie/{{middle_movie.id}}" class="movie-link">
            <article class="movie-card movie-card-background">
              <img
                src="{{ url_for('static', filename=middle_movie.image_url) }}"
                class="movie-poster"
                alt={{middle_movie.title}}
              />
              <h3 class="movie-name">{{middle_movie.title}}</h3>
              <div class="movie-details">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{middle_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{middle_movie.genre}}</span>
                </div>
              </div>
            </article>
            </a>
          {% endfor %}
          <article class="movie-card">
            <img
              src="{{ url_for('static', filename='images/ad.png') }}"
              class="ad"
              alt="Ad"
            />
          </article>
        </div>

        <div class="movie-grid">
          {% for middle_movie in middle_movies_3 %}
          <a href="/movie/{{middle_movie.id}}" class="movie-link">
            <article class="movie-card movie-card-background">
              <img
                src="{{ url_for('static', filename=middle_movie.image_url) }}"
                class="movie-poster"
                alt={{middle_movie.title}}
              />
              <h3 class="movie-name">{{middle_movie.title}}</h3>
              <div class="movie-details">
                <div class="duration">
                  <img
                  src="{{ url_for('static', filename='images/clock.png') }}"
                  class="duration-icon"
                  alt="Clock icon"
                />
                  <span >{{middle_movie.runtime}} Minutes</span>
                </div>
                <div class="genre">
                  <img
                    src="{{ url_for('static', filename='images/camera.png') }}"
                    class="genre-icon"
                    alt="Genre icon"
                  />
                  <span>{{middle_movie.genre}}</span>
                </div>
              </div>
            </article>
          </a>
          {% endfor %}
        </div>
      </section>

      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">More about our website</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              We can help you find the latest movies to stream or just uncover an old classic you may have forgotten.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <section class="cta-section">
        <div class="cta-content">
          <div class="cta-text">
            <h2 class="cta-title">
              Find your next favorite<br />
              movie, just a click away
            </h2>
            <p class="cta-description">
              Search for unforgettable films, from blockbuster hits to hidden gems. Your next movie adventure starts here!
            </p>
            <button type="button" class="btn btn-lg btn-dark" data-toggle="modal" data-target="#modal">
              Learn More
            </button>
          </div>
          <div class="cta-image">
            <img
              src="{{ url_for('static', filename='images/family.png') }}"
              alt="Movie selection"
            />
          </div>
        </div>
      </section>

      <section class="instagram-section">
        <div class="highlight">
          <h2 class="section-title-main centered">
            Check out @movieland on Instagram
          </h2>
          <p class="section-description centered">
            Follow us on Instagram for all things movies—exclusive updates, hidden gems, and the latest buzz. Don't miss out!
          </p>
  
          <div class="instagram-profiles">
            <div class="profile-card">
              <div class="profile-icon">
                  <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
  
            <div class="profile-card">
              <div class="profile-icon">
                <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
  
            <div class="profile-card">
              <div class="profile-icon">
                <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
  
            <div class="profile-card">
              <div class="profile-icon">
                <img
                  src="{{ url_for('static', filename='images/profile-icon.png') }}"
                  alt="Profile background"
                />
              </div>
              <div class="profile-info">
                <h3 class="profile-name">Movieland.</h3>
                <p class="profile-location">Greenville, NC</p>
              </div>
            </div>
          </div>
  
          <div class="instagram-grid">
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/wish.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/lego.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/butler.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
            <div class="instagram-post">
              <img
                src="{{ url_for('static', filename='images/harley.png') }}"
                alt="Instagram post"
              />
              <span class="post-count">1/3</span>
            </div>
          </div>
  
          <div class="instagram-comments">
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong> <span>Make a wish!</span>
              </p>
              <p class="comment-date">September 19</p>
            </div>
  
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong>
                <span
                  >Everything is awesome. Everything is cool when you're part of
                  the team.</span
                >
              </p>
              <p class="comment-date">September 19</p>
            </div>
  
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong>
                <span>What's your favorite Gerard Butler movie?</span>
              </p>
              <p class="comment-date">September 19</p>
            </div>
  
            <div class="comment-card">
              <img src="{{ url_for('static', filename='images/instagram.png') }}" class="instagram-icons" />
              <div class="like-info">
                <img
                  src="{{ url_for('static', filename='images/person.png') }}"
                  alt="Person Like icon"
                />
                <p class="likes">
                  Liked by <strong>craig_love</strong> and
                  <strong>44,686 others</strong>
                </p>
              </div>
              <p class="comment-text">
                <strong>Movieland.</strong>
                <span>A messy, colorful good time.</span>
              </p>
              <p class="comment-date">September 19</p>
            </div>
          </div>

          <div class="centered-button">
            <button type="button" class="btn btn-lg btn-dark">
              Visit Our Instagram&nbsp;&nbsp;<i class="bi bi-instagram"></i>
              </button>
          </div> 
        </div>

      </section>

      {% endblock %}